<a href="https://colab.research.google.com/github/jaicoco/PythonStudy/blob/master/10_%ED%95%A8%EC%88%98_%ED%99%A9%EC%9E%AC%EC%9D%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 함수
컴퓨터에게 시킬 일

즉, 컴퓨터가 할 행위

## 함수의 만들기
<pre>
def 함수명():
  실행문
</pre>  

## 함수 사용
<pre>
함수명()

### 1. 입력값이 없는 함수

In [0]:
def hello():
  return 'hello'

In [0]:
print(hello())
a = hello()
print(a)

hello
hello

### 2. 결과값이 없는 함수

In [0]:
# 여기서 함수를 정의할 때 들어가는 a, b 같은 값들을 매개 변수라고 한다.
def sumab(a,b):
  print("{}+{}={}".format(a,b,a+b))

In [0]:
sumab(4,5)

4+5=9

### 3. 입력도 결과값도 없는 함수

In [0]:
def Hi():
  return 4

In [0]:
print(Hi())

4

### 4. 매개변수 지정해서 호출

In [0]:
def add(a,b):
  return a+b

In [0]:
print(add(4,5))

9

### 5.입력값 수가 미정일 때
<pre>
def 함수이름(*매개변수):
  실행할 문장

In [0]:
# args는 arguments(독립변수)의 줄임말
# 그냥 변수들 정로로 이해하자.
def add_many(*args):
  sum1 = 0
  for i in args:
    sum1 += i
  return sum1

In [0]:
add_many(4,45,5,3,4,4,3)

68

In [0]:
# add_mul

def add_mul(choice, *args):
  addresult = 0
  mulresult = 1
  if choice == 'add':
    for i in args:
      addresult += i
    return addresult
  elif choice == 'mul':
    for i in args:
      mulresult *= i
    return mulresult
  else:
    print("오류")
    return 0

In [0]:
add_mul('mul',3,1,4,5,2)

120

### 6. lambda
함수를 만들 때 사용하는 예약어

def와 유사

<pre>
*lambda를 이용해 함수 만드는 법:
함수명 = lambda 매개변수1, 매개변수2, ... : 매개변수를 이용한 식

In [0]:
def add(a,b):
  return a+b

In [0]:
add2 = lambda a,b:a+b

In [0]:
add2(1,2)

3

## 문제 풀고 함수 만들어보기

In [0]:
# 1000 미만의 수 중에 3과 5의 배수의 합 구하기

result = 0
for i in range(1,1001):
  if i%3==0 and i%5==0:
    result += i
    
  else:
    pass
print(result)

33165

In [0]:
#1000미만의 수 중에 원하는 두 개의 수의 공배수 합 구하기

def LcmSum(a,b):
  result = 0 
  for i in range(1,1001):
    if i%a==0 and i%b==0:
      result += i 
    else:
      pass
  return result

In [0]:
LcmSum(10,20)

25500

In [0]:
#100미만의 수를 출력하는 함수
def UnderHundred():
  for i in range(1,100):
    print(i,end=' ')

In [0]:
file = open('basic.txt','w')
file.write('Hello Python Programming...!')
file.close()

In [0]:
def sum35(a):
  r = 0 
  for i in range(1,a):
    if i %3 ==0 or i%5 ==0:
      r +=i
    if i == 10:
      r=i
      return r
    else:
      pass
    
  print(r)

In [0]:
print(sum35(30))

10

In [0]:
sum35(30)

10