<a href="https://colab.research.google.com/github/jaicoco/PythonStudy/blob/master/3_%ED%8A%9C%ED%94%8C_%ED%99%A9%EC%9E%AC%EC%9D%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 3.튜플
여러개의 값을 담고 있는 변수.

## 3-1.튜플 형식
<pre>
* 튜플이름 = (값1, 값2, 값3, ...)
  튜플이름 = () <- 빈 튜플
  튜플이름 = (값1,) <- 값 하나인 튜플

* 튜플 이름으로 안되는 것들 : 
  - if, def, class, while, for, else 등의 예약어.
  - 숫자로 시작하는 것
  ex) 1a, 3name, ...

* 튜플 특징
  1.순서가 존재
  2.값을 인덱스로 불러옴
  3.값 수정 불가

## 3-2. 튜플 다루기
리스트와 유사

In [0]:
a = (1,2,3)
print(a)
b = (2,)
print(b)

(1, 2, 3)
(2,)

In [0]:
type(b)

tuple

### 튜플 인덱스
<pre>
*사용법:
튜플이름[인덱스]

In [0]:
a = (3, 5, 'z', 'x')

In [0]:
print(a[0])

3

### 튜플 슬라이스
<pre>
*사용법:
튜플이름[시작 인덱스:원하는 인덱스+1]

In [0]:
a = (3, 5, 'z', 'x')

In [0]:
# 1,2번 인덱스만 뽑아내고 싶다면
print(a[1:3])

(5, 'z')

### 튜플 더하기
'+'

In [0]:
q = (1,2,3,4)
w = ('z', 'x')

In [0]:
z = q+w
print(z)

(1, 2, 3, 4, 'z', 'x')

### 튜플 곱하기
'*'

In [0]:
w = ('z', 'x')

In [0]:
z = w*2
print(z)

('z', 'x', 'z', 'x')

### 튜플 길이 구하기
<pre>
* 사용법:
len(튜플)

In [0]:

q = (1,2,3,4)

In [0]:
len(q)

4

### 튜플<->리스트 변환하기
<pre>
튜플 -> 리스트 :
list(튜플)

리스트 ->튜플 :
tuple(리스트)

In [0]:
tuple1 = (1,2,3,4)

In [0]:
# 튜플 -> 리스트
print(type(tuple1))
list1=list(tuple1)
print(type(list1))

<class 'tuple'>
<class 'list'>

In [0]:
list2 = [1,2,3,4]

In [0]:
# 리스트 -> 튜플
print(type(list2))
tuple2=tuple(list2)
print(type(tuple2))

<class 'list'>
<class 'tuple'>