<a href="https://colab.research.google.com/github/jaicoco/PythonStudy/blob/master/4_%EB%94%95%EC%85%94%EB%84%88%EB%A6%AC_%ED%99%A9%EC%9E%AC%EC%9D%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 4.딕셔너리
딕셔너리도 여러개의 값을 담는 변수입니다.

## 4-1.딕셔너리 형식
<pre>
* 형식 :
  딕셔너리이름 = {'key값1':'value값1', 'key값2':'value값2', 'key값3':'value값3', ...}
  딕셔너리이름 = {}


* 리스트 이름으로 안되는 것들 : 
  - if, def, class, while, for, else 등의 예약어
  - 숫자로 시작하는 것
  ex) 1a, 3name, ...


* 딕셔너리의 특징
  1.key값과 value값의 쌍 형태
  2.인덱스(순번)을 가지지 않음
  3.인덱스 대신 key값으로 value를 불러옴
  4.수정 가능

## 4-2.딕셔너리 사용법
<pre>
딕셔너리를 사용하면 이런 것을 할 수 있습니다.
가령
방탄 소년단 멤버와 그들의 나이가 있을 수 있지요.
이를 한 번에 담아 둘 수 없을까요?
이 때 유용한 것이 딕셔너리 입니다.

#### 딕셔너리 만들기

In [0]:
# 빈 딕셔너리
dict1 = {}
print(dict1)

{}

In [0]:
colorpens={'red':3,'blue':2,'yellow':4}
print(colorpens)
colorpens.keys()

{'red': 3, 'blue': 2, 'yellow': 4}

dict_keys(['red', 'blue', 'yellow'])

In [0]:
# BTS의 이름을 key로 나이를 value로 만든 딕셔너리
a = {'진':'22', '슈가':'25','제이홉':'26'}

#### key값으로 value 가져오기
<pre>
*사용법:
딕셔너리명[key값]

In [0]:
# key값 '진'으로 value값 가져오기
print(a['진'])

22

In [0]:
# key값 '슈가', '제이홉'으로 value값 가져오기
print(a['슈가'],a['제이홉'])

25 26

In [0]:
b = {'name':'John','age':'25','phone':'01045454454'}
print(b['name'])
print(b['phone'])

John
01045454454

### value 값으로 리스트 넣기/ value 값 가져오기

In [0]:
name = ['John','Amily','Tom']
age  = ['25','12','41']
home = ['LA','Seoul','Paris']

contact={'name':name,'age':age,'home':home }
print(contact)

{'name': ['John', 'Amily', 'Tom'], 'age': ['25', '12', '41'], 'home': ['LA', 'Seoul', 'Paris']}

In [0]:
contact.keys()

dict_keys(['name', 'age', 'home'])

In [0]:
print(contact['name'])

['John', 'Amily', 'Tom']

### 딕셔너리 주의 사항
* key값은 동일하면 안됨

* key값으로 리스트가 올 수 없음.

In [0]:
a = {'이름':'kim', '이름':'lee'}
a.keys()

dict_keys(['이름'])

In [0]:
print(a['이름'])

lee

### key값들을 리스트로 만들기(keys() 함수)
key값들만 모아서 리스트처럼 만들 수 있습니다.

<pre>
*사용법:
딕셔너리명.keys()

In [0]:
a = {'이름':'kim', '나이':24, '지역':'서울'}
keykey = a.keys()
print(keykey)

dict_keys(['이름', '나이', '지역'])

In [0]:
keycol = contact.keys()
print(keycol)
print(type(keycol))

dict_keys(['name', 'age', 'home'])
<class 'dict_keys'>

리스트 같지만 리스트의 함수들인 append, insert, remove 등은 사용할 수 없음.

dict_keys를 리스트로 바꾸려면

list를 만들어주는 list()함수를 사용하면 됩니다.

리스트명 = list(값)

In [0]:
a = {'이름':'kim', '나이':24, '지역':'서울'}

In [0]:
# list함수로 리스트로 만들어 list1에 저장
list1 = list(a.keys())
type(list1)

list

이제 append, insert, remove 등의 함수를 사용할 수 있습니다.

### value 값들을 리스트로 만들기(values() 함수)
keys() 함수처럼 사용하면 됩니다.

values()를 사용합시다.

In [0]:
a = {'이름':'kim', '나이':24, '지역':'서울'}
a.values()

dict_values(['kim', 24, '서울'])

In [0]:
type(a)

dict

리스트 같지만 리스트 아닌 이것을

list() 함수를 이용해서 바꿔줍시다.

In [0]:
a = {'이름':'kim', '나이':24, '지역':'서울'}

In [0]:
# list() 함수를 적용하여 list로 만들어 list2라는 이름으로 저장
list2 = list(a.values())
list2

### key, value 쌍 얻기(items() 함수)
<pre>
*사용법:
딕셔너리명.items()

In [0]:
a = {'이름':'kim', '나이':24, '지역':'서울'}

In [0]:
a.items()

dict_items([('이름', 'kim'), ('나이', 24), ('지역', '서울')])

마찬가지로 list()함수를 이용해서 리스트로 만들 수 있습니다.

In [0]:
a = {'이름':'kim', '나이':24, '지역':'서울'}

In [0]:
list3 = list(a.items())
print(list3)
print(list3[0][1])

[('이름', 'kim'), ('나이', 24), ('지역', '서울')]
kim

### key, value쌍 모두 지우기(clear() 함수)
<pre>
*사용법:
딕셔너리명.clear()

In [0]:
a = {'이름':'kim', '나이':24, '지역':'서울'}

In [0]:
a.clear()

In [0]:
a

{}

### 해당 key가 딕셔너리 안에 있는지 조사하기
<pre>
* 사용법:
key값 in 딕셔너리

In [0]:
z = {'name':1, 'loc':2, 'age':3}

In [0]:
'name' in z

True

True 는 있음

False는 없음