<a href="https://colab.research.google.com/github/jaicoco/PythonStudy/blob/master/5_%EC%A7%91%ED%95%A9_%ED%99%A9%EC%9E%AC%EC%9D%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 5.집합
여러개의 값을 담을 수 있는 변수.

## 5-1.집합의 형식
<pre>
* 집합이름 = set(값)
  (여기서 값의 형태는 리스트나 튜플, 단일 변수가 들어갈 수 있음)
  집합이름 = set()
  
* 집합의 특징
  -집합(합집합, 교집합)과 관련된 것을 쉽게 처리하기 위한 변수
  -리스트/튜플로 변환 후 인덱스로 접근 가능

### 집합 만들기
set() 함수를 이용하여 만들 수 있습니다.

In [0]:
# 리스트로 집합 만들기
set1 = set([1,2,3,4])
print(set1)

{1, 2, 3, 4}

In [0]:
list1 = [1,2,3,4]
print(list1)

[1, 2, 3, 4]

In [0]:
# 단일 변수로 집합 만들기
set2 = set('apple')
print(set2)

{'a', 'p', 'e', 'l'}

<pre>
여기서 알 수 있는 집합 자료형의 특징
* 중복이 없다.
* 순서가 없다.
* 그래서 인덱스(순서)도 없다.

### 집합을 인덱스로 접근하려면?
리스트나 튜플로 바꾸어 주어야 합니다.

list() 함수를 사용하거나

tuple() 함수를 사용해야 합니다.

In [0]:
set1 = set([2,4,6,6])

In [0]:
list1 = list(set1)
print(list1)

[2, 4, 6]

In [0]:
set2 = set('apple')
tup1 = tuple(set2)
print(tup1)

('a', 'p', 'e', 'l')

### 집합의 유용성 - 교집합, 합집합, 차집합
집합 2개를 만들고 교집합, 합집합, 차집합을 만들어 봅시다.

#### 교집합
 & 을 이용하면 됩니다.

In [0]:
set1 = set([0,1,2,3,4,5])
set2 = set([3,4,5,6,7,8])

In [0]:
print(set1 & set2)
print(set1)

{3, 4, 5}

다른 방법으로

집합1명.intersection(집합2명) 함수를 이용하면 됩니다.

In [0]:
set1 = set([0,1,2,3,4,5])
set2 = set([3,4,5,6,7,8])

In [0]:
set1.intersection(set2)

{3, 4, 5}

#### 합집합
shift + \ 를 하면 | 이 나옵니다.

In [0]:
set1 = set([0,1,2,3,4,5])
set2 = set([3,4,5,6,7,8])

In [0]:
print(set1 | set2)

{0, 1, 2, 3, 4, 5, 6, 7, 8}

다른 방법으로는

집합1명.union(집합2명)을 사용합니다.

In [0]:
set1 = set([0,1,2,3,4,5])
set2 = set([3,4,5,6,7,8])

In [0]:
set1.union(set2)

{0, 1, 2, 3, 4, 5, 6, 7, 8}

#### 차집합
빼기 (-) 를 이용하면 됩니다.

In [0]:
set1 = set([0,1,2,3,4,5])
set2 = set([3,4,5,6,7,8])

In [0]:
set1-set2

{0, 1, 2}

다른 방법으로 

집합1명.difference(집합2) 함수를 사용해도 됩니다.

In [0]:
set1 = set([0,1,2,3,4,5])
set2 = set([3,4,5,6,7,8])

In [0]:
set1.difference(set2)

{0, 1, 2}

In [0]:
set1 = set([0,1,2,3,4,5])
set2 = set([3,4,5,6,7,8])

In [0]:
set1 = set([0,1,2,3,4,5])
set2 = set([3,4,5,6,7,8])

## 5-2.집합 자료형 관련 함수들

### 값 1개 추가하기(add() 함수)
이미 만들어진 집합에 1개 값만 추가하고자 하면

add() 함수를 사용합니다.

In [0]:
set1 = set([0,1,2,3,4,5])

In [0]:
# 100이라는 값 하나 추가하기
set1.add(100)
set1

{0, 1, 2, 3, 4, 5, 100}

### 값 여러 개 추가하기(update() 함수)
여러 개의 값을 한꺼번에 추가할 때는

update() 함수를 사용하면 됩니다.

In [0]:
set1 = set([0,1,2,3,4,5])

In [0]:
# [1000, 2000, 3000] 리스트의 값들
set1.update([1000,2000,3000])
set1

{0, 1, 2, 3, 4, 5, 1000, 2000, 3000}

### 특정 값 제거하기(remove() 함수)
특정 값을 제거하고 싶을 때는

remove() 함수를 사용하면 됩니다.

In [0]:
set1 = set([0,1,2,3,4,5])

In [0]:
# 값 5 제거하기
set1.remove(5)
set1

{0, 1, 2, 3, 4}

In [0]:
print("python""is""fun")

pythonisfun

In [0]:
L=[0,1,2]
L.insert(0,1)
print(L)

[1, 0, 1, 2]

In [0]:
print("{0:>10}".format("apple"))

     apple

In [0]:
pi = 3.14564654135
print("%.3f"%pi)

3.146

In [0]:
print("%d%% charged"% 100)

100% charged