<a href="https://colab.research.google.com/github/jaicoco/PythonStudy/blob/master/6_%EB%82%B4%EC%9E%A5%ED%95%A8%EC%88%98_%ED%99%A9%EC%9E%AC%EC%9D%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 내장함수
사람들이 파이썬에 이미 만들어 놓은 함수
<pre>
ex) print()

### print()
값을 출력한다.

In [0]:
print('철수')

철수

In [0]:
# ;를 쓰면 함수를 한 줄로 이어 쓸 수 있다.
print('철수');print('민수')

철수
민수

In [0]:
# ,end= 을 넣으면 뒤의 값이 따라오게 한다.
print('철수', end=' ')
print('민수')

철수 민수

In [0]:
print('철수', end=',');print('민수')

철수,민수

In [0]:
# 띄어 쓰기는 콤마로.
print('My heart will go on')
print('My','heart','will','go','on')

My heart will go on
My heart will go on

### type()
값의 타입을 알려준다.

In [0]:
a = 1
b = 'b'
fl = 1.2
print(type(a))
print(type(b))
print(type(fl))

<class 'int'>
<class 'str'>
<class 'float'>

In [0]:
c = (1,2)
type(c)

tuple

In [0]:
d = {1,2}
type(d)

set

In [0]:
e = [1,2]
type(e)

list

In [0]:
f = {'hello':'안녕','apple':'사과'}
type(f)

dict

### len()
값의 길이(또는 값의 갯수)를 돌려줌.

In [0]:
print(len(e))

2

In [0]:
myname = '황재익'
len(myname)

3

In [0]:
print(len(f))

2

In [0]:
myset = set([1,2,3,4,4])
print(len(myset))
print(myset)

4
{1, 2, 3, 4}

### int()
'1' 같은 문자열 숫자나 1.2같은 소숫점 숫자를 정수로 돌려줌.

In [0]:
a = '1'
b = int(a)
print(type(a));print(type(b))

<class 'str'>
<class 'int'>

In [0]:
a = 2.4444
b = int(a)
print(b)

2

### str()
문자열로 변환해 돌려줌.

In [0]:
c = str(a)
d = 'strGood'
print(c);print(type(c))
print(c+d)

2.4444
<class 'str'>
2.4444strGood

### input()
사용자 입력 받는 함수

In [0]:
a = input('a = ')
b = input('b = ')
print(a+b)

a = 4
b = 3
43

In [0]:
type(a)

str

In [0]:
a = int(input( ))
b = int(input( ))
print(a+b)
print(type(a))

4
3
7
<class 'int'>

In [0]:
a = list(input('이름을 입력하세요 : '))
print(a)

이름을 입력하세요 : 황재익
['황', '재', '익']

In [0]:
a = set(input('이름을 입력하세요 : '))
print(a)
#set은 인덱스 지원X

이름을 입력하세요 : 황재익익익재재재황황
{'익', '재', '황'}

### list()
리스트로 만들어 돌려줌.

In [0]:
a = (1,2,3)
type(a)

tuple

In [0]:
b = list(a)
print(type(b))

myname = '황재익'
b = list(myname)
print(b)

<class 'list'>
['황', '재', '익']


### range()
입력받은 숫자의 범위 값을 돌려줌.

range(시작숫자, 끝숫자+1)

<pre>
사용법:
list(range())

In [0]:
print(list(range(1,21)))
a = range(1,21)
print(a)
print(type(a))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
range(1, 21)
<class 'range'>

In [0]:
# 시작 숫자는 생략 가능
a = range(11,)
print(a)

range(0, 11)

In [0]:
### 숫자 사이 거리 추가
a = range(1,11,2)
print(list(a))
b = range(20,0,-2)
print(list(b))

[1, 3, 5, 7, 9]
[20, 18, 16, 14, 12, 10, 8, 6, 4, 2]