<a href="https://colab.research.google.com/github/jaicoco/PythonStudy/blob/master/9_For_%ED%99%A9%EC%9E%AC%EC%9D%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# for문
횟수 혹은 값의 수 만큼 반복하는 제어문

## for문의 기본 구조
<pre>
* 형식:
  for 변수 in 리스트(또는 튜플, 문자열):
    수행할 문장1
    수행할 문장2
    ...

## for문 사용하기

In [0]:
list1 = ['a','b','c']

for i in list1:
  print(i)

a
b
c

In [0]:
a = [(2,4),(6,8),(9,10)]
for (i,j) in a:
  print(i,j)

2 4
6 8
9 10

In [0]:
a = [(2,4),(6,8),(9,10)]
for i in range(len(a)):
  print(i)

0
1
2

In [0]:
# 합/불합격 통보 프로그램
scores = [80, 70, 75, 85, 55]

num = 0
for i in scores:
  if i >= 60:
    print('{}번학생 {}점으로 합격입니다!'.format(num,scores[num]))
    
  else:
    print('{}번학생 {}점으로 불합격입니다!'.format(num,scores[num]))
  num+= 1

0번학생 80점으로 합격입니다!
1번학생 70점으로 합격입니다!
2번학생 75점으로 합격입니다!
3번학생 85점으로 합격입니다!
4번학생 55점으로 불합격입니다!

### enumerate()
순서가 있는 자료형(리스트, 튜플, 문자열)을 받아 인덱스(순번)과 값을 돌려줌.

for 문과 자주 사용됨.

In [0]:
for i in enumerate(scores):
  print(i )

(0, 80)
(1, 70)
(2, 75)
(3, 85)
(4, 55)

In [0]:
# 합/불합격 통보 프로그램
scores = [80,70,75,85,55]
for i,j in enumerate(scores):
  if j>=60:
    print("{}번학생 {}점으로 합격입니다".format(i,j))
  else:
    print("{}번학생 {}점으로 불합격입니다.".format(i,j))
    

a  = (enumerate(scores))
print(a)
d = list(a)
d

0번학생 80점으로 합격입니다
1번학생 70점으로 합격입니다
2번학생 75점으로 합격입니다
3번학생 85점으로 합격입니다
4번학생 55점으로 불합격입니다.
<enumerate object at 0x7fa4a3cf73f0>

[(0, 80), (1, 70), (2, 75), (3, 85), (4, 55)]

## continue
for 문에 continue 이용

In [0]:
# 합격 통보기
scores = [80, 70, 75, 45, 55]
for i,j in enumerate(scores):
  if j >= 60:
    print("{}번 학생 {}점으로 합격입니다".format(i,j))
  else:
    continue

0번 학생 80점으로 합격입니다
1번 학생 70점으로 합격입니다
2번 학생 75점으로 합격입니다

## range()
for 문에 range()이용

In [0]:
list1 = list(range(1,11))
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [0]:
# 1부터 10까지 더하기
sum = 0
for i in range(1,11):
  sum += i
  
print(sum)

55

In [0]:
# 합격 통보기
scores = [90, 25, 67, 45, 80]
for i in range(len(scores)):
  if scores[i] >=60:
    print('{}번학생 {}점으로 합격입니다'.format(i,scores[i]))

0번학생 90점으로 합격입니다
2번학생 67점으로 합격입니다
4번학생 80점으로 합격입니다

## 구구단
for문을 중첩하여 구구단 만들기

In [0]:
for i in range(2,10):
  for j in range(1,10):
    print("{}*{}={}".format(i,j,i*j))

## 리스트 내포(List Comprehension)
편리 & 직관적
<pre>
* 사용법
리스트 = [(표현식) for i in (리스트) if (조건문)]

In [0]:
# 3곱하여 담기
a = [1,2,3,4]
r = []
for i in a:
  r.append(i*3)
print(r)

[3, 6, 9, 12]

In [0]:
# 리스트 내포 사용
a = [1,2,3,4]
r = [i*3 
     for i in a]
print(r)

[3, 6, 9, 12]

In [0]:
# 짝수에만 3 곱하여 담기
a = [1,2,3,4]
r = [i*3 for i in a if i %2==0]
print(r)

a = [i*3 if i % 2 == 0 else i for i in a]
print(a)

[6, 12]
[1, 6, 3, 12]

In [0]:
a = [1,2,3,4]
a = [i*3 
     if i % 2 == 0 
     else i 
     for i in a]
print(a)

[1, 6, 3, 12]

In [0]:
# 구구단

## 튜플 for 문

In [0]:
a = (1,2,3,4)
for i in a:
  print(i)
  
r = []
#append사용해보기
for i in a:
  r.append(i)
  
print(r)

1
2
3
4
[1, 2, 3, 4]

## 딕셔너리 for 문

In [0]:
a = {'a':1, 'b':2, 'c':3, 'd':4}
for i in a.keys():
  print(i*3)

aaa
bbb
ccc
ddd

In [0]:
for i in a.values():
  print(i*3)

3
6
9
12

In [0]:
for i in a.items():
  print(i*3)

('a', 1, 'a', 1, 'a', 1)
('b', 2, 'b', 2, 'b', 2)
('c', 3, 'c', 3, 'c', 3)
('d', 4, 'd', 4, 'd', 4)