#리스트

##리스트란?
리스트는 여러 값을 담을 수 있는 변수입니다

###1. 리스트 만들기
방법은 두가지

####방법 1

In [0]:
#list1이라는 빈 리스트를 만들어 보겠습니다
list1 = []

In [12]:
print(list1)

[]

In [6]:
#list2를 만들고 1,'철수','True'를 넣어보자.
list2 = [1,'철수','True']
print(list2)

[1, '철수', 'True']

####방법2

In [8]:
list3 = list()
print(list3)

[]

In [0]:
list4 = list(['1','철수',True])
list4

In [0]:
del list4[2]

In [19]:
list4

['1', '철수']