<a href="https://colab.research.google.com/github/jaicoco/PythonStudy/blob/master/10_1_%ED%95%A8%EC%88%98%EC%98%88%EC%A0%9C_%ED%99%A9%EC%9E%AC%EC%9D%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 01. 1을 return하는 one이라는 함수를 만드세요.

In [0]:
def one():
  return 1

### 02. one함수의 결과값을 출력하세요.

In [0]:
one()

1

### 03. one 함수의 결과값을 z라는 변수에 저장하세요.

In [0]:
z = one()
print(z)

1

### 04.문제 3의 변수 z의 값의 타입을 확인하세요.

In [0]:
print(type(z))

<class 'int'>

### 05. 다음 함수의 이름을 mul로 바꾸고 결과 곱을 출력하도록 만드세요.

In [0]:
def sumAB(a,b):
  print('{} + {} = {}'.format(a,b,a+b))
def mul(a,b):
  print('{} * {} = {}'.format(a,b,a*b))

### 06. 5번에서 만든 mul 함수를 출력하세요.

In [0]:
print(mul(1,2))
mul(2,3)

2 * 3 = 6

### 07. 0을 출력하는 zero라는 함수를 만드세요.

In [0]:
def zero():
  return 0

### 08. zero라는 함수를 호출(사용)하세요.

In [0]:
zero()

0

### 09. 매개변수로 x,y를 사용하고 그 곱을 return하는 mul2라는 함수를 만드세요.

In [0]:
def mul2(x,y):
  return x*y

### 10.mul2(2,5)의 결과값을 출력하세요.

In [0]:
mul2(2,5)

10

### 11. 갯수가 미정인 입력값을 받고 그 값들을 곱해서 return하는 facto라는 함수를 만드세요.

In [0]:
def facto(*nums):
  s = 1
  for i in nums:
    s *= i
  return s
print(facto(1,2,3))

6

### 12. facto 함수에 1~10까지를 넣은 결과값을 출력하세요.

In [0]:
print(facto(1,2,3,4,5,6,7,8,9,10))

3628800

### 13. 함수의 계산 방식을 합/곱 중 선택할 수 있는 add_mul함수를 만드세요.

In [0]:
def add_mul(a,list1):
  if a == '+':
    result = 0
    for i in list1:
      result += i
  elif a == '*':
    result = 1
    for i in list1:
      result *= i
  return result
print(add_mul('+',[1,2,3,4]))
print(add_mul('*',[1,2,3,4]))

10
24

### 14. add_mul 함수를 합으로 이용하여 1~10까지 더한 결과를 출력하세요.

In [0]:
print(add_mul('+',[1,2,3,4,5,6,7,8,9,10]))

55

### 15. 주어진 함수를 lambda를 이용하여 mul4라는 이름의 함수로 다시 만들어 보세요.

In [0]:
def mul(a,b):
  return a*b

### 16. 500미만의 숫자 중 2와 7의 배수의 합을 구하세요.

In [0]:
list1 = range(500)
sums = 0
for i in list1:
  if i % 14 == 0:
    sums += i
  elif i % 2 == 0:
    sums += i
  elif i % 7 == 0:
    sums += i
print(sums)

71322