<a href="https://colab.research.google.com/github/jaicoco/PythonStudy/blob/master/3_1_%ED%8A%9C%ED%94%8C%EC%98%88%EC%A0%9C_%ED%99%A9%EC%9E%AC%EC%9D%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 001.tuple1이라는 이름의 비어있는 튜플을 만들라.

In [0]:
tuple1 = ()

### Q002.1, 2, 3의 값을 담은 tuple2를 만들어보자.

In [0]:
tuple2 = ( 1, 2, 3 )

### Q003.숫자 1 이 저장된 튜플 z를 생성하라.

In [0]:
z = ( 1, )

### Q004.다음 코드를 실행해보자. 오류의 발생원인은 무엇인가?

In [0]:
t = ('x', 'y', 'z')
t[0] = 'a'
# 튜플은 값 수정 불가

TypeError: ignored

### Q005. 'a', 'b', 1, 3 을 갖는 tuple3을 만들어보자.

In [0]:
tuple3 = ( 'a', 'b', 1, 3 )

### Q006. 5번에서 만든 튜플 tuple3을 순서대로 출력해보자.

In [0]:
print( tuple3 )

('a', 'b', 1, 3)

### Q007.5번에서 만든 튜플 tuple3을 슬라이스 하여 'b'와 1 만 출력해보자.

In [0]:
tuple3[ 1:3 ]

('b', 1)

### Q008. 아래의 tup1과 tup2를 더하여 새로운 tup3를 만들어보자. tup3를 출력해보자.

In [0]:
tup1 = ('q', 'w', 'e', 'r')
tup2 = (1, 3, 5, 7)
tup3 = tup1 + tup2
print( tup3 )

('q', 'w', 'e', 'r', 1, 3, 5, 7)

### Q009. 아래 주어진 튜플 z에 2를 곱한 튜플 z2를 만들고 출력해보자.

In [0]:
z = ('a', 'b', 1, 2)
z2 = z*2
print( z2 )

('a', 'b', 1, 2, 'a', 'b', 1, 2)

### Q010. 아래 주어진 튜플의 길이를 구해보자.

In [0]:
tup0 = ('철수', 'kim', 1, 'i')
len( tup0 )

4

### Q011.다음 튜플을 리스트로 변환하라. 리스트 이름은 list1으로 하자.

In [0]:
tup1 = ('a', 'b', 'c')
list1 = list(tup1)
print( list1 )

['a', 'b', 'c']

### Q012.다음 리스트를 튜플로 변경하라.튜플 이름은 tup2으로 하자.

In [0]:
list2 = ['z', 'x', 'c']
tup2 = tuple( list2 )
print( tup2 )

('z', 'x', 'c')